<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" href="../static/home.css">
</head>

<style>
    .botaoComBorda, .borda{
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        }

    .botao{
    background-color: green;
    color: white
    }
</style>

<body>
    <header class="cabecalho, borda" id="cabecalho">
        <h1>[Logo]</h1>
        <button id="comecar1">[ ]</button>
        <label for="comecar1">Comecar1</label>
        <button id="comecar2">[ ]</button>
        <label for="comecar2">Comecar2</label>
    </header>

    <article id="conteudoPrincipal" class="conteudoPrincipal, borda" >
        <h1>[Conteudo]</h1>
        <p>[Conteudo]</p>
        <button class="botao"">[Botão]</button>

        <p class="botaoComBorda">[Conteudo]</p>
        <p class="botaoComBorda">[Conteudo]</p>
        <p class="botaoComBorda">[Conteudo]</p>
    </article>

    <div class="borda">
    <h2>[Conteudo]</h2>
    <p>[Conteudo]</p>
    </div>


    <footer class="footer, borda" id="footer">
        <h2>[Conteudo]</h2>
        <p>[Conteudo]</p>
        <button class="botao">[Botao1]</button>
        <button class="botao">[Botao2]</button>
        <p>[©]</p>
        <p>[Conteudinho]</p>
    </footer>
</body>
</html>