<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>inserindo dados</title>
</head>
<body>
<form action="/populando" method = 'POST'>
    <label for="name">Nome:
        <input type="text" name = 'nome'>
    </label>
    <label for="tipo">Tipo
        <input type="text" name = 'tipo'>
    </label>
    <label for="habitat">
        <input type="text" name = 'habitat'>
    </label>
    <label for="descricao">
        <input type="text" name = 'descricao'>
    </label>
    <button type="submit" value='Enviar'></button>
</form>
</body>
