<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Chaves</title>
</head>

<body>

<h1>Cadastro de Chaves</h1>

<form method="POST">

    <input
        type="text"
        name="etapa"
        placeholder="Ex: inicio"
        required
    ><br><br>

    <input
        type="text"
        name="pergunta"
        placeholder="Pergunta"
        required
    ><br><br>

    <input
        type="text"
        name="resposta_sim"
        placeholder="Resposta SIM"
        required
    ><br><br>

    <input
        type="text"
        name="resposta_nao"
        placeholder="Resposta NÃO"
        required
    ><br><br>

    <button type="submit">
        Salvar
    </button>

</form>

</body>
</html>