<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>inserindo dados</title>
</head>
<body>
<form action="/registrar" method = 'POST'>
    <label for="name">Nome:
        <input type="text" name = 'nome'><br>
    </label>

    <label for="tipo">Tipo:
        <input type="text" name = 'tipo'><br>
    </label>

    <label for="habitat">Habitat:
        <input type="text" name = 'habitat'><br>
    </label>
    <label for="descricao">Descricao:
        <input type="text" name = 'descricao'><br>
    </label>

    <label for="imagem">Imagem:
        <input type="text" name = 'imagem'><br>
    </label>

    <button type="submit">Enviar</button>
    <br>
</form>
</body>
